.hero{
    background-image: url("/images/jumbotron.jpg");
    background-position: top;
    background-size: cover;
    padding: 200px 0;
}

.card-container{
    padding-bottom: 40px;
}

.img-container{
    height: 200px;
    overflow: hidden;

    img{
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.my-btn-primary{
    background-color: $primary-color;
    color: white;
    padding: 5px 40px;
    font-weight: bold;
}

.main-links-container{
    background-color: $primary-color;

    .main-row-link{
        padding-left: 7.5px;
        height: 70px;
    }

    col{
        padding: 0;
    }

    img{
        height: 100%;
        padding-right: 15px;
    }
}

.my-bg-primary{
    background-color: $primary-color;
}

.bg-green{
    background-color: #55ba59;
}

.details-container{
    background-color: #f6f6f6;
}

main{
    .container{
        position: relative;

        
        .tag-container{
            background-color: $primary-color;
            position: absolute;
            top: -20px;
            left: 0; 
        }
        
        .img-novel-container{
            position: absolute;
            top: -360px;
            left: 0;

            border: 1px solid white;
            
            .series-tag{
                background-color: #00a9d9;
                position: absolute;
                top: 0;
                left: 0;
            }
            
            .gallery-tag{
                background-color: #00a9d9;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

    }
}
